#header {margin-bottom: 0;
    
}

#footer {margin-bottom:0;
    
}
#follow a {font-size: 30px;}
#Consultancy p {text-align: left;
}

.form   {
    width: 200px;}

#message {height: 400px;width: 200px;}

.contact a {text-align-last: left;  }

.contact i{font-size: 30px;}