
body{
    font-family: 'Lato', sans-serif;
}

.header {
  padding: 60px;
  text-align: center;
  background: rgb(240, 255, 255);
  color: black;
}

  .header h5 {
      font-style: oblique;
}

.footer{
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background:#000000;
  color:#f8f8ff;
  padding: 30px;
  margin: 0;
}

@media (max-width:600px) {
    .footer{
        text-align: left;
    }
}

.footer-social {
    text-align: center;  
}

.footer-social a{
    color: #f8f8ff;
    letter-spacing: 7.5px;
    font-size: x-large;
}

#fbook:hover{
    color: #4267B2;
    font-size: xx-large;
    transition: 0.3s;
}

#link:hover{
    color: #2867B2;
    font-size: xx-large;
    transition: 0.3s;
}

#inst:hover {
    color: #C13584;
    font-size: xx-large;
    transition: 0.3s;
}

#twit:hover {
    color: #1DA1F2;
    font-size: xx-large;
    transition: 0.3s;
}

#you:hover{
    color: #FF0000;
    font-size: xx-large;
    transition: 0.3s;
}

.footer-form{
    display: inline;
    width: 250px;
    height: 20px;
}

.footer-contact a{
    float: left;
    color: #f8f8ff;
}
.footer-sub{
    text-align: center;
}

.footer-form {
    letter-spacing: 5px;
    text-align: center;
}
.btn-light{
    background-color: #f8f8ff;
}

.btn-light:hover{
    background-color: black;
    color: #f8f8ff;
}

.nav {
    background-color: black;
    color: grey;
   
}
.active li a {
    color: white;
}

.nav a {
    color: grey;
}

.nav button {
    color:  white;
}

.p1, .p2, .p3, .p4, .p5{
  min-height: 400px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.70;
}

.p6 {
    min-height: 900px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.p1{ background-image: url('../assets/images/about.jpg');}
.p2{ background-image: url('../assets/images/social\ responsibility.jpg');}
.p3{ background-image: url('../assets/images/environmental\ responsibility.jpg');}
.p4{ background-image: url('../assets/images/red\ consulatant.jpg');}
.p5{ background-image: url('../assets/images/meeting.jpg');}
.p6{ background-image: url('../assets/images/phone.jpg');}

.section { text-align: center;
    padding: 50px 80px;
}

.light{
    background: rgb(240, 255, 255);
    color: black;
   
}

#social { 
    background: #3b5998;
    color: #ffffff;
}

@media screen and (max-width:600){
    #social {
        text-align: left;
    }
    #social h2{
        font-size: medium;
    }

}

#green  {
    background-color: #00873E;
    color: #ffffff;
}

#ecological { 
    height: 128px;
    width: 128px;   
}
.dark{
    background: #282e34;
    color:#f8f8ff;
  }

.right{
    float: right;
}

.box{
    text-align: center;
    list-style-type: none;
    border: 1px ;
    border-style: solid;
    border-color: #000000;
    margin: 0;
    padding: 0;
    transition: 0.3s;
    padding-top: 20px;
}

.boxc{
    text-align: center;
    list-style-type: none;
    border: 1px ;
    border-style: solid;
    border-color: #000000;
    margin: 0;
    padding: 0;
    transition: 0.3s;
    padding-top: 20px;
}
.boxc:hover {
  box-shadow: 0 8px 12px 0 #3D3D3D;
}

.box ul li {
    text-align: center;
}

.box:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

#bronze {
    background-color: #cd7f32;
   color:#f8f8ff;
    font-weight: bold;
    font-size: medium;
    text-transform: uppercase;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: inline-block;
    padding: 20px 0 0 0;
    text-align: center;
    border-color: #36454f;
    border-style: solid;
}

#silver {
    background-color: #C0C0C0;
    color:#f8f8ff;
    font-weight: bold;
    font-size: larger;
    text-transform: uppercase;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: inline-block;
    padding: 20px 0 0 0;
    text-align: center;
    border-color: #36454f;
    border-style: solid;
}

#gold {
    background-color: #D99E30;
    color:#f8f8ff;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: larger;
    text-transform: uppercase;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: inline-block;
    padding: 20px 0 0 0;
    text-align: center;
    border-color: #36454f;
    border-style: solid;
}


.pricing {
    background-color: #f8f8ff;
    color:#000000;
    font-size: larger;
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;

}
.contact-table{
    color: #f8f8ff;
    font-size: large;

}

.blah {
    background-color: #AD8A56;
    color:#000000;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: larger;
    text-transform: uppercase;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: inline-block;
    padding: 20px 0 0 0;
    text-align: center;
    border-color: #000000;
    border-style: solid;
}

.black {
    background-color: #000000;
    color: #AD8A56;
    font-size: larger;
}

.black h1, h2 {
    color: #f8f8ff;
}
.button { 
    display: block;
    width: 100%;
    border: none;
    background-color:#00BFFF;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    color: #f8f8ff;
}

.button:hover {
  color: black;
  opacity: .75;
}



ul#contact li{
    display:inline;
}

#mice { 
    display: block;
    width: 100%;
  border: none;
  background-color:	#00BFFF;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  text-align: center;
  display: inline-block;
  color: #f8f8ff;
  border-style: solid;
  border-color: #36454f;
}

#mice:hover{
    opacity: .75;
    color: #36454f;
}

#form {
    padding: 11% 0 0 65%;
    text-align: left;
    list-style-type: none;
    border: 1px ;
    transition: 0.3s;
    
}

textarea, input{
  width: 50%;
  height: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.contact-form{
 display: flex;
}

.input-fields{
 display: flex;
 flex-direction: column;
 margin-right: 4%;
}

.input-fields,
.msg{
 width: 48%;
}

.input-fields .input,
.msg textarea{
 margin: 10px 0;
 background: transparent;
 border: 0px;
 border-bottom: 2px solid #AD8A56;
 padding: 10px;
 color: #AD8A56;
 width: 100%;
}

.msg textarea{
 height: 212px;
}

::-webkit-input-placeholder {
 color: #AD8A56;
}

::-moz-placeholder {
 color: #AD8A56;
}

:-ms-input-placeholder {
 color: #AD8A56;
}

.btn {
   background: #f8f8ff;
   text-align: center;
   padding: 15px;
   border-radius: 5px;
   color: #000000;
   cursor: pointer;
   text-transform: uppercase;
}

#btncontact {
    background: #AD8A56;
   text-align: center;
   padding: 15px;
   border-radius: 5px;
   color: #000000;
   cursor: pointer;
   text-transform: uppercase;
}

#btncontact:hover{
    background: #000000;
    color: #AD8A56;
    border-color: #AD8A56;

}
@media screen and (max-width: 600px){
 .contact-form{
   flex-direction: column;
 }

 .msg textarea{
   height: 80px;
 }

 .input-fields,.msg{
   width: 100%;
 }